pip
# python version 3.11.2
flask==2.2.3
# dependencies for flask
click==8.1.3
jinja2==3.1.2
werkzeug==2.2.3
markupsafe==2.1.2
itsdangerous==2.1.2

# packages for flask
requests==2.28.2
# dependencies for requests
certifi==2022.12.7
charset-normalizer==3.1.0
idna==3.4
urllib3==1.26.15

# flask production server
gunicorn==20.1.0

# flask websocket server
simple-websocket==0.9.0

# flask websocketio
flask-socketio==5.3.3
python-socketio==5.8.0

# flask cors
flask-cors==3.0.10
six==1.16.0
