<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<pre id="p"></pre>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>

<script type="text/javascript" charset="utf-8">

    function set(t) {
        document.getElementById("p").innerHTML += t + "<br />";
    }

    const socket = io();

    socket.on('connect', () => {
        set("Connecting!")
        socket.emit('message', { data: 'connected' });
        socket.emit('start', { data: 'Start!' });
    });

    socket.on("message", m => {
        set(m.data);
        console.log(m);
    });

    socket.on("disconnect", r => {
        set(r);
    });

    set("Started!");

</script>

</body>
</html>
