<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<pre id="p"></pre>

<button id="start">Start</button>

<button id="check">Check</button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>

<script type="text/javascript" charset="utf-8">

    const $id = id => document.getElementById(id);

    function set(t) {
        $id("p").innerHTML += t + "<br />";
    }

    const socket = io();

    $id("start").addEventListener("click", () => {
        socket.emit('start', { data: 'Start!' });
    });

    $id("check").addEventListener("click", () => {
        socket.emit("check", { data: "Let's start!" });
    });

    socket.on('connect', () => {
        set("Connecting!")
        socket.emit('message', { data: 'connected' });
    });

    socket.on("message", m => {
        set(m.data);
    });

    socket.on("disconnect", r => {
        set(r);
    });

    set("Started!");

</script>

</body>
</html>
